<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>609370053998-8h5o3ffukse37bno0p95u2kiklem1nat.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.609370053998-8h5o3ffukse37bno0p95u2kiklem1nat</string>
	<key>API_KEY</key>
	<string>AIzaSyBFUiuDwxYdDFzcHUodL5A0vht5w26s9s0</string>
	<key>GCM_SENDER_ID</key>
	<string>609370053998</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>khaled2024.AnimeUwU</string>
	<key>PROJECT_ID</key>
	<string>animeuwu-d5c97</string>
	<key>STORAGE_BUCKET</key>
	<string>animeuwu-d5c97.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:609370053998:ios:9865ab1e5d750a3e14357f</string>
</dict>
</plist>